extend ../../layout/default.pug
include ../../mixins/box-head.pug

block main
  .container
    +box-head("Tạo phòng chat")
    include ../../partials/list-btn-user.pug 

    .row.mb-3
      .col-12
        a.btn.btn-sm.btn-secondary.mr-1(href="/rooms-chat") Quay lại

    .row
      .col-6
        form(action="/room-chat/create" method="POST")
          .form-group
            label(for="roomName") Tên phòng chat
            input#roomName.form-control(type="text" name="roomName" placeholder="Nhập tên phòng chat", required)
            each friend in friends 
              div(class="form-check" style="margin-top:10px;"
              )   
                input(
                  type="checkbox", 
                  name="memberId", 
                  value=friend.user_id
                  id = "friend-" + friend.user_id
                  )
                label(
                  for="friend-" + friend.user_id
                  )  
                  | #{friend.infoFriend.fullName}

          button.btn.btn-sm.btn-primary(type="submit") Tạo phòng chat