include ../mixins/formSearch.pug

header 
  .header
    .container 
      .header-box
        .row 
          .col-md-2
            .inner-logo 
              img(src="/client/image/logo.png" alt="")
          .col-md-6
            form(action="/search", method="get"
              )
              .input-group.d-flex
                input(
                  type="text"
                  class = "form-control" 
                  name = "keyword"
                  placeholder="Tìm kiếm sản phẩm..."
                  ) 
                button(type="submit" class="btn btn-primary") <i class="fa-solid fa-magnifying-glass"></i>
          .col-md-3
            .inner-menu 
              ul 
                li 
                  a(href="/") Home 
                li(class = "sub-menu")
                  a(href="/products") Products  
                  ul 
                    if categoryMiddleware
                      each category in categoryMiddleware
                        li
                          a(href=`/products/${category.slug}`) #{category.title}
                    else
                      li Không có danh mục nào
          .col-1
            .box-cart 
              a(href="/cart")
                <i class="fa-solid fa-cart-shopping icon-cart"></i>
                  span(class = "quantity-product") #{(quantityProduct ? quantityProduct : 0)}  


