extends ../../layout/default.pug
include ../../mixins/box-alert.pug

block main
  h1.mt-5.text-center Chi tiết Sản phẩm

  .container 
    .card.mb-3.text-start
      .card-header.mb-2
        .row
          .col-md-6 
            p Thông tin Sản phẩm
          .col-md-6 
            a(href=`/products` class="btn btn-outline-primary float-end") Xem sản phẩm

      .card-body
        .row
          .col-md-6
            .row
              .col-md-6
                p 
                  strong Tiêu đề: 
                  | #{product.title}
              .col-md-6
                p 
                  strong Giá: 
                  | #{product.price} $

            .row
              .col-md-6
                p 
                  strong Mô tả: 
                  | !{product.description}
              .col-md-6
                p 
                  strong Giảm giá: 
                  | #{product.discountPercentage}%

            .row
              .col-md-6
                p 
                  strong Số lượng kho: 
                  | #{product.stock}
              .col-md-6
                p 
                  strong Trạng thái: 
                  | #{product.status}

            .row
              .col-md-6
                p 
                  strong Vị trí: 
                  | #{product.position}
              .col-md-6
                p 
                  strong Ngày cập nhật: 
                  | #{product.updatedAt.toLocaleString()}
          .col-md-6
            .row
              .col-md-12
                p 
                  strong Ảnh đại diện:
                if product.thumbnail
                  img(src=product.thumbnail, alt="thumbnail" style="max-width: 100%; height: auto; border: 1px solid #ccc; padding: 5px;")
                else
                  p Không có ảnh
            .row 
              .col-md-12 
                form(
                  action=`/cart/add/${product.id}`
                  method = "POST"
                  )
                  input(
                    class = "form-control mb-2"
                    type="number"
                    min = "1"
                    max = product.stock 
                    name = "quantity"
                    value = 1
                    ) 
                  button(type = "submit" class = "btn-add-cart") add to cart            


