extends ../../layout/default.pug
include ../../mixins/listButtonStatus.pug
include ../../mixins/formSearch.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/box-alert.pug

block main 
  +box-alert-warning(5000)
  +box-alert-success(5000)
  +box-alert-error(5000)

  h1 Danh sach Sản phẩm

  .card.mb-3.text-start
    .card-header.mb-2 
      .row 
        .col-6
          span Bộ lọc và Tìm kiếm
        .col-6.text-end 
          button(
                class="btn btn-outline-secondary"
                type="button"
                sort-clear
              ) <i class="fa-solid fa-arrows-rotate"></i>
    .card-body
      .row
        .col-6
          +listButtonStatus(listButtonStatus)
        .col-6 
          +formSearch(keyword)

  .card.mb-4
    .card-header
      .row 
        .col-4
          +form-change-multi()
        .col-4
          .sort.display-flex
            select(
              name="sort", 
              class="form-control" 
              sort-select 
              )
              option(value="price-desc") Giá giảm dần
              option(value="price-asc") Giá tăng dần
              option(value="title-asc") Tiêu đề A - Z
              option(value="title-desc") Tiêu đề Z - A        
        .col-4 
          a(href="/admin/products/create" class="btn btn-outline-success")  
            <i class="fa-solid fa-plus"></i> Tạo mới

  table(
    class = "table table-hover table-sm"
    checkbox-all 
  )
    thead
      tr
        th 
          input(type="checkbox" name="checkAll")
        th STT
        th Hình ảnh
        th Tiêu đề
        th Giá
        th Trạng thái
        th Hành động
    tbody
      each item , index in products
        tr
          td 
            input(type="checkbox" name="id" value = item._id)
          td #{index + 1}
          td
            a(href=`/admin/products/edit/${item._id}`) 
              img(
                src=item.thumbnail,
                alt=item.title,
                width="100px",
                height="auto"
              )
          td #{item.title}
          td #{item.price}$
          td
            if item.status == 'active'
              a(href="#" class="badge text-bg-success"
                change-status = `${item.status}-${item._id}`
              ) Hoạt động
            else
              a(href="#" class="badge text-bg-danger"
              change-status = `${item.status}-${item._id}`
              ) Không hoạt động
          td
            a(class="btn btn-warning btn-sm"
              href = `/admin/products/edit/${item._id}`
              button-edit
             ) <i class="fa-solid fa-pen-to-square"></i>
            button(class="btn btn-danger btn-sm ml-1"
              data-id = item._id
              button-delete
              ) <i class="fa-solid fa-trash"></i>
            a(href=`/admin/products/detail/${item._id}`
              class = "btn btn-secondary btn-sm "
              ) <i class="fa-solid fa-circle-info"></i>

  +pagination(pagination)

  form(
    action= ""
    method="POST"
    currentPage = pagination.currentPage
    id = "form-change-status"
    data-path = `/admin/products/change-status`
    ) 

  form(
    action= ""
    method="POST"
    id = "form-delete"
    data-path = `/admin/products/delete`
    ) 