extends ../../layout/default.pug 
include ../../mixins/box-alert.pug
include ../../mixins/box-head.pug


block main 
  +box-alert-success(5000)
  +box-alert-error(5000)

  +box-head("Cart")
  .container
    table.table.table-bordered.text-center
      thead
        tr
          th STT
          th Ảnh
          th Tên
          th Giá
          th Số lượng
          th Tổng tiền
          th Hành động
      tbody
        each item, index in products
          tr
            td #{index + 1}
            td
              img(src=item.thumbnail, alt=item.title, width="60")
            td 
              a(href=`/products/detail/${item.slug}`) #{item.title}
            td #{item.price}$ 
            td
              input.form-control(
                type="number", 
                value=item.quantity, 
                min="1", 
                data-product-id=item._id
              )
            td #{item.price * item.quantity}$
            td
              form(action=`/cart/delete/${item._id}`, method="GET")
                button.btn.btn-danger(type="submit") Xoá


    div.d-flex.justify-content-between.align-items-center.mt-3.mb-5
      h4 Tổng đơn hàng: #{totalPrice}$
      a.btn.btn-success(href="/checkout") THANH TOÁN
